<% include header %>
	<div class="content content-center"><h1>台大找直屬</h1>
		<div class="note">為了確認你的身份，前往信箱收驗證信<br>信件會在數分鐘內送達</div><br>
		<a class="button" target="_blank" href="https://mail.ntu.edu.tw/" onclick="ga('send', 'event', 'click', 'ntu-mail');">前往 NTU Mail</a>
	</div>
<% include footer %>