<% include header %>
				<div class="content content-center">
					<h1><a href="#">台大找直屬</a></h1>
					<p>尋找你的 b04 直屬 &gt;///&lt;</p>
					<a href="login" class="button special icon fa-compass" onclick="ga('send', 'event', 'click', 'login')">開始尋找</a>
				</div>
<!--				<div class="image phone"><div class="inner"><img src="images/screen.jpg" alt="" /></div></div> -->
<% include footer %>