<% include header %>
	<div class="content"><h1>台大找直屬</h1>
		<div class="note">為了確認你的身份，請填寫以下資訊</div><br>
		<input id="sid" type="text" placeholder="你的學號"><br>
		<select name="auth" id="auth">
			<option value="0">選擇身份驗證方式</option>
			<option value="1">輸入計中密碼</option>
			<option value="2">收取信件驗證</option>
		</select><br>
		<div id="pass" style="display:none"><input id="password" type="password" placeholder="你的密碼"><br></div>
		<a class="button" onclick="submit_auth()">開始驗證</a>
	</div>
	<script>
	function submit_auth() {
		if($('#sid').val().length !== 9 || $('#auth').val() == 0 || ($('#auth').val() == 1 && $('#password').val() == '')) {
			alert('請確認資料填寫正確');
			return false;
		}
		$.ajax({
			method: 'POST',
			url: '/',
			dataType: 'json',
			data: {
				sid: $('#sid').val(),
				auth: $('#auth').val(),
				password: $('#auth').val() == 1 ? $('#password').val() : ''
			},
			success: function(data) {
				document.location.href = data.redirect;
			},
			error: function() {
				alert('發生錯誤 QQ，請確認資料正確');
			}
		});
		return false;
	}
	</script>
<% include footer %>